@keyframes token {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.25;
  }
}

@keyframes splash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.active-button {
  position: relative;
  border: solid 2px var(--heart-cold-color, black);
  padding: 8px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  transition: 300ms ease;  
}

.active-button:focus-visible {
  box-shadow: 2px 2px var(--heart-cold-color, black);
}

.active-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(from var(--heart-cold-color, black) calc(255 - r) calc(255 - g) calc(255 - b));
  transition: .5s ease-in-out;
  translate: -100%;
  mix-blend-mode: difference;
}

.active-button:hover::before {
  translate: 0;
}

.heart-core {
  fill: white;
  transition: fill linear 300ms 30ms;
}

.heart-main-body {
  fill: white;
  transition: fill 300ms linear;
}

.heart-contour {
  fill: var(--heart-cold-color, black);
  transition: fill linear 100ms;
}

.heart-sparks {
  opacity: 0;
  fill: var(--heart-warm-color, red);
}

.like-icon:hover .heart-core {
  fill: var(--heart-cold-color, black);
  transition: fill linear 300ms;
}

.like-icon:active .heart-core {
  fill: var(--heart-warm-color, red);
  transition: fill linear 300ms;
}

.like-icon:hover .heart-main-body {
  fill: var(--heart-cold-color, black);
  transition: fill linear 300ms 50ms;
}

.like-icon:active .heart-main-body {
  fill: var(--heart-warm-color, red);
  transition: fill linear 300ms 50ms;
}

.like-icon.is-liked .heart-contour {
  fill: var(--heart-warm-color, red);
  transition: fill linear 300ms 60ms;
}

.like-icon.is-liked .heart-core {
  fill: var(--heart-warm-color, red);
  transition: fill linear 300ms;
}

.like-icon.is-liked .heart-main-body {
  fill: var(--heart-warm-color, red);
  transition: fill linear 300ms 50ms;
}

.like-icon.is-liked .heart-sparks {
  animation: splash 300ms 300ms ease-in;
}

.like-icon.is-liked {
  animation: token 300ms 100ms ease-in;
}
