.page {
  margin: 0 auto;
  color: var(--text-color, inital);
  font-family: var(--variative-font-family, sans-serif);
  font-size: 18px;
  background-color: var(--main-background-color, inital);
  background-image:
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0 1%, #1a1a1a);
  background-attachment: fixed;
  font-weight: var(--font-primary-weight, normal);
  font-variation-settings: "wght" var(--font-primary-weight, 400);
  inline-size: var(--content--wide, 100%);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.button__text {
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  line-height: 12.6px;
}

.header {
  margin: 100px 0;
  border: solid 2px var(--heart-cold-color, black);
  background-color: white;
}

.main {
  margin: 0 0 100px;
}

.header__logo-group {
  display: flex;
  flex-direction: column;
  padding: 116px 0 124px;
  font-family: var(--accent-font-family, fantasy);
  text-align: center;

  @media (width <= 375px) {
    gap: 10px;
    padding: 110px 0 114px;
  }
}

.header__logo-html {
  font-weight: var(--font-primary-weight, normal);
  font-size: clamp(48px, 43.3664px + 1.5023vw, 68px);
  line-height: 1.4em;
  text-transform: uppercase;
}

.header__logo-work {
  font-weight: var(--font-primary-weight, normal);
  font-size: clamp(13.5px, 10.8304px + 0.8451vw, 25px);
  line-height: 1.4em;
  text-transform: uppercase;
}

.posts__list {
  display: grid;
  grid-template-columns: minmax(330px, 1fr);
  grid-auto-flow: row;
  align-items: stretch;
  gap: 50px;
}

.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 1fr;
  border: solid 2px var(--heart-cold-color, black);
  background-color: white;
  container-type: inline-size;
}

.card__title {
  border-bottom: solid 2px var(--heart-cold-color, black);
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: var(--font-caption-weight, bold);
  font-variation-settings: "wght" var(--font-caption-weight, 700);
}

.card__portrayal {
  position: relative;
  inline-size: 100%;
}

.card__portrayal-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__story {
  border-top: solid 2px var(--heart-cold-color, black);
}

.card__text {
  padding: 25px 25px 0;
  font-size: 18px;
  line-height: 21px;
}

.card__portrayal-whitemark {
  position: absolute;
  top: 25px;
  right: 3.5%;
  opacity: 50%;
  color: black;
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  text-align: left;
  text-shadow: 
    -1px 0 var(--whitemark-color, white),
    0  1px var(--whitemark-color, white),
    1px  0 var(--whitemark-color, white),
    0 -1px var(--whitemark-color, white);
  mix-blend-mode: hard-light;

  @supports (-webkit-text-stroke: 1px white) {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--whitemark-color, white);
  }

  @supports (text-stroke: 1px white) {
    text-shadow: none;
    text-stroke: 1px var(--whitemark-color, white);
  }
}

.card__complex-button {
  display: flex;
  place-self: end;
  align-items: center;
  gap: 5px;
  margin: 25px;
}

.card__icon-button {
  border: solid 2px transparent;
  padding: 0;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  border: solid 2px var(--heart-cold-color, black);
}

.like-icon {
  display: block;
  cursor: pointer;
}

.card__like-button {
  padding: 8px;
  min-inline-size: 130px;
}

.effect-sepia {
  filter: sepia(50%);
}

.effect-saturate {
  filter: saturate(400%);
}

.effect-hue-rotate {
  filter: hue-rotate(30deg);
}

.effect-invert {
  filter: invert();
}

.effect-grayscale {
  filter: grayscale(77%);
}

.effect-blur {
  filter: blur(3cqw);
}

.effect-filter-mix {
  filter: grayscale(45%) hue-rotate(45deg) contrast(75%) blur(.5cqw);
}

.save {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save__button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  align-items: center;
  gap: 10px;

  margin: 50px 30px 0;
  padding: 15px 18px;
}

.floppy-icon {
  object-fit: cover;
}

@media(width <= 500px) {
  .save__button {
    grid-template-columns: auto;
  }

  .save__button .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}

.save__button-text {
  display: block;
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  line-height: 12.6px;
  text-wrap: nowrap;
}

dialog {
  margin: auto;
  border: solid 2px var(--heart-cold-color, black);
  overflow: hidden;
  transition: opacity 1s;
  inline-size: calc(var(--content--wide, 330px) / 2);
}

@media(width <= 1024px) {
  dialog {
    inline-size: calc(var(--content--wide, 330px) - 34px);
  }
}

@media(width <= 330px) {
  dialog {
    inline-size: var(--content--wide, 330px);
  }
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: auto minmax(min-content, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  row-gap: 34px;
  column-gap: 20px;
  padding: 15px 10px;
}

.dialog__label {
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__close {
  grid-column: span 2;
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  padding: 9px 17px;
  line-height: 12.6px;
  text-transform: uppercase;
}