.page {
  margin: 0 auto;
  color: var(--text-color, inital);
  font-family: var(--variative-font-family, sans-serif);
  font-weight: var(--font-primary-weight, normal);
  font-size: 18px;
  background-color: var(--main-background-color, inital);
  background-image:
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0 1%, #1a1a1a);
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-primary-weight, 400);
  inline-size: var(--content--wide, 100%);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.active-button {
  position: relative;
  border: solid 2px var(--heart-cold-color, black);
  padding: 8px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

.button__text {
  font-family: var(--accent-font-family, sans-serif);
  font-size: 14px;
  line-height: 12.6px;
}

.header {
  margin: 100px 0;
  border: solid 2px var(--heart-cold-color, black);
  background-color: white;
}

.header__logo-group {
  padding: 120px 0;
  font-family: var(--accent-font-family, sans-serif);
  text-align: center;
}

.header__logo-html {
  font-weight: var(--font-primary-weight, normal);
  font-size: clamp(48px, 43.3664px + 1.5023vw, 68px);
  line-height: 1.4em;
  text-transform: uppercase;
}

.header__logo-work {
  font-weight: var(--font-primary-weight, normal);
  font-size: clamp(13.5px, 10.8304px + 0.8451vw, 25px);
  line-height: 1.4em;
  text-transform: uppercase;
}

.card {
  margin: 50px 0;
  border: solid 2px var(--heart-cold-color, black);
  background-color: white;
}

.card:last-child {
  margin-bottom: 0;
}

.card__title {
  border-bottom: solid 2px var(--heart-cold-color, black);
  padding: 5px;
  font-weight: var(--font-caption-weight, bold);
  font-size: 18px;
  line-height: 1.2em;
  font-variation-settings: "wght" var(--font-caption-weight, 700);
}

.card__portrayal {
  position: relative;
  inline-size: 100%;
}

.card__portrayal-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__story {
  border-top: solid 2px var(--heart-cold-color, black);
}

.card__text {
  margin: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__portrayal-whitemark {
  position: absolute;
  top: 27px;
  right: calc(3.6923vw - 0.8464px);
  color: black;
  font-family: var(--accent-font-family, sans-serif);
  font-size: 14px;
  text-align: left;
  text-shadow: 
    -1px 0 var(--whitemark-color, white),
    0  1px var(--whitemark-color, white),
    1px  0 var(--whitemark-color, white),
    0 -1px var(--whitemark-color, white);
  mix-blend-mode: hard-light;

  @supports (-webkit-text-stroke: 1px white) {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--whitemark-color, white);
  }

  @supports (text-stroke: 1px white) {
    text-shadow: none;
    text-stroke: 1px var(--whitemark-color, white);
  }
}

.card__complex-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
  margin: 25px;
}

.card__icon-button {
  border: solid 2px transparent;
  padding: 0;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  border: solid 2px var(--heart-cold-color, black);
}

.like-icon {
  display: block;
  cursor: pointer;
}

.card__like-button {
  min-inline-size: 130px;
}

.effect-whitelist {
  filter: sepia(50%);
}

.effect-uncertainty {
  filter: saturate(400%);
}

.effect-pursuit {
  filter: hue-rotate(30deg);
}

.effect-around {
  filter: invert();
}

.effect-strateg {
  filter: grayscale(77%);
}

.effect-handoff {
  filter: blur(calc(var(--content--wide) / 50));
}

.effect-doit {
  filter: hue-rotate(0.25turn) blur(5px) contrast(55%) brightness(110%);
}

.footer__save-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  margin: 50px auto;
}

.footer__save-text {
  display: block;
  padding: 10px;
  font-family: var(--accent-font-family, sans-serif);
  font-size: 14px;
  line-height: 12.6px;
}

dialog {
  margin: auto;
  border: solid 2px var(--heart-cold-color, black);
  transition: opacity 1s;  
  inline-size: calc(var(--content--wide, 320px) * 2 / 3);
  min-inline-size: 320px;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: brightness(50%) blur(5px);
}

.dialog__content {
  display: grid;
  grid-template-columns: auto minmax(min-content, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  gap: 25px;
}

.dialog__label {
  font-family: var(--accent-font-family, sans-serif);
  font-size: 14px;
  line-height: 21px;
}

.dialog__close {
  grid-column: span 2;
  font-family: var(--accent-font-family, sans-serif);
  font-size: 14px;
  line-height: 12.6px;
  text-transform: uppercase;
}
